{{#each groceries as |grocery| }}
  <section data-id="{{grocery.id}}" class="row justify-content-center">
    <h2 class="col">
      {{grocery.name}}
    </h2>
    <div class="w-100"></div>
    <h6 class="col-6 key">Expiration Date</h6>
    <h6 class="col-6 value">
      {{#if grocery.expiration_date}}
      {{grocery.expiration_date}}
      {{else}}
      No date provided
      {{/if}}
    </h6>
    <div class="w-100"></div>
    <h6 class="col-6 key">Days left</h6>
    <h6 class="col-6 value">
      {{#if grocery.days_until}}
        {{grocery.days_until}}
      {{/if}}
    </h6>
    <div class="w-100"></div>
    <h6 class="col-6 key">Quantity</h6>
    <h6 class="col-6 value">
      {{#if grocery.quantity}}
        {{grocery.quantity}}
      {{else}}
        No quantity provided
      {{/if}}
    </h6>
    <div class="w-100"></div>
    <h6 class="col-6 key">Price</h6>
    <h6 class="col-6 value">
      {{#if grocery.price}}
        ${{grocery.price}}
      {{else}}
        No price provided
      {{/if}}
    </h6>
    <div class="w-100"></div>
    <h5 class="col key note">Notes</h5>
    <div class="w-100"></div>
    <p class="col notes value">
      {{#if grocery.notes}}
        {{grocery.notes}}
      {{/if}}
    </p>
    <div class="w-100"></div>
    <div class="row justify-content-center">
      <button class="col btn btn-warning update-grocery mr-2" type="button" data-toggle="modal" data-target="#updategroceryModal" data-id="{{grocery.id}}">Update</button>
      <button class="col btn btn-danger delete-grocery ml-2" data-id="{{grocery.id}}">Delete</button>
    </div>
  </section>
{{/each}}
