{{#each groceries as |grocery| }}
  <section data-id="{{grocery.id}}">
    <h3>
      {{limit grocery.name 15}}
    </h2>
    <h6>Expiration Date:</h6>
    <p>
      {{#if grocery.expiration_date}}
        {{grocery.expiration_date}}
      {{else}}
        No date provided.
      {{/if}}
    </p>
    <h6>Quantity:</h6>
    <p>
      {{#if grocery.quantity}}
        {{grocery.quantity}}
      {{else}}
        No quantity provided.
      {{/if}}
    </p>
    <h6>Price:</h6>
    <p>
      {{#if grocery.price}}
        ${{grocery.price}}
      {{else}}
        No price provided.
      {{/if}}
    </p>
    <button class="btn btn-danger delete-grocery" data-id="{{grocery.id}}">Delete</button>
  </section>

{{/each}}
