{{#each groceries as |grocery| }}
  <section data-id="{{grocery.id}}">
    <h2>
      {{grocery.name}}
    </h2>
    <h5>Expiration Date:</h5>
    <p>
      {{#if grocery.expiration_date}}
        {{grocery.expiration_date}}
      {{else}}
        No date provided.
      {{/if}}
    </p>
    <h5>Quantity:</h5>
    <p>
      {{#if grocery.quantity}}
        {{grocery.quantity}}
      {{else}}
        No quantity provided.
      {{/if}}
    </p>
    <h5>Price:</h5>
    <p>
      {{#if grocery.price}}
        ${{grocery.price}}
      {{else}}
        No price provided.
      {{/if}}
    </p>
    <h5>Note:</h5>
    <p>
      {{#if grocery.notes}}
        {{grocery.notes}}
      {{/if}}
    </p>
    <div class="updateButtonDivn row justify-content-center">
      <button class="btn btn-warning update-grocery mr-2" type="button" data-toggle="modal" data-target="#updategroceryModal" data-id="{{grocery.id}}">Update</button>
      <button class="btn btn-danger delete-grocery ml-2" data-id="{{grocery.id}}">Delete</button>
    </div>
  </section>
{{/each}}
